<div class="lead">
   <div class="headline">
      <h1>Bem vindo ao SWUI</h1>
      <p>Veja dados sobre filmes, personagens e naves diretamente da SWAPI - Star Wars API</p>
   </div>
</div>

<mat-form-field appearance="outline">
   <mat-label>Busque personagens em Star Wars</mat-label>
   <input type="search" matInput placeholder="Ex: Darth, Luke, Obi-Wan ..." [formControl]="peopleInputSearch">
   <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<div *ngIf="peopleResults$ | async as people">
   <mat-table [dataSource]="people" class="mat-elevation-z8" *ngIf="people?.length">
      <ng-container matColumnDef="name">
         <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
         <mat-cell *matCellDef="let people"> {{people.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="height">
         <mat-header-cell *matHeaderCellDef> Altura </mat-header-cell>
         <mat-cell *matCellDef="let people"> {{people.height}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="mass">
         <mat-header-cell *matHeaderCellDef> Mass </mat-header-cell>
         <mat-cell *matCellDef="let people"> {{people.mass}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   </mat-table>
</div>

<div class="error-message" #notFound *ngIf="errorMessage?.length">
   <p>{{ errorMessage }}</p>
</div>

<app-loading [spinning]="loading"></app-loading>

<div class="cards">
   <mat-card class="card">
      <mat-card-header>
         <mat-card-title>Todos os filmes</mat-card-title>
         <mat-card-subtitle>Star Wars</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
         <p>Veja agora a lista de todos os filmes da franquia <strong>Star Wars</strong>.</p>
      </mat-card-content>
      <mat-card-actions>
         <button [routerLink]="['/movies']" mat-button>Ver todos os filmes</button>
      </mat-card-actions>
   </mat-card>

   <mat-card class="card">
      <mat-card-header>
         <mat-card-title>Todas as naves</mat-card-title>
         <mat-card-subtitle>Star Wars</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
         <p>Veja agora a lista de todas as naves da franquia <strong>Star Wars</strong>.</p>
      </mat-card-content>
      <mat-card-actions>
         <button [routerLink]="['/starships']" mat-button>Ver todas as naves</button>
      </mat-card-actions>
   </mat-card>
</div>