.lead {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  
  .headline {
    display: inline-block;
    text-align: center;

    h1, p {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    h1 {
      margin-bottom: 0;

      strong {
        color: wheat;
      }
    }

    p {
      font-size: 16px;
    }
  }
}

mat-form-field {
  width: 100%;
}

mat-table {
  margin-top: 30px;
}

.error-message {
  p {
    text-align: center;
  }
}

.cards {
  @media (min-width: 576px) {
    display: flex;
  }

  .card {
    margin: 10px 0;

    @media (min-width: 576px) {
      width: 50%;
  
      &:first-child {
        margin-right: 10px;
      }
  
      &:last-child {
        margin-left: 10px;
      }
    }
  }
}
