<h1><small>Bem vindo ao</small> Star Wars UI</h1>

<mat-form-field appearance="outline">
   <mat-label>Buscar personagens de Star Wars</mat-label>
   <input type="search" matInput placeholder="Ex: Darth, Luke, Obi-Wan ..." [formControl]="peopleInputSearch">
   <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<div *ngIf="peopleResults$ | async as people">
   <mat-table [dataSource]="people" class="mat-elevation-z8" *ngIf="people?.length">
      <ng-container matColumnDef="name">
         <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
         <mat-cell *matCellDef="let people"> {{people.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="height">
         <mat-header-cell *matHeaderCellDef> Altura </mat-header-cell>
         <mat-cell *matCellDef="let people"> {{people.height}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="mass">
         <mat-header-cell *matHeaderCellDef> Mass </mat-header-cell>
         <mat-cell *matCellDef="let people"> {{people.mass}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   </mat-table>
</div>

<div class="error-message" #notFound *ngIf="errorMessage?.length">
   <p>{{ errorMessage }}</p>
</div>