<div class="header">
   <mat-toolbar color="primary">
      <mat-toolbar-row>
         <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Expandir o menu">
            <mat-icon>menu</mat-icon>
         </button>
         <span class="logo-container">
            <img src="assets/images/swui-logo.png" alt="SWUI">
         </span>
         <span class="spacer"></span>
         <a href="https://github.com/thifacco/swui-angular" target="_blank" title="Repositório swui-angular no GitHub @thifacco">
            <img src="https://img.shields.io/github/followers/thifacco.svg?style=social&label=Follow&maxAge=2592000">
         </a>
      </mat-toolbar-row>
   </mat-toolbar>

   <mat-menu #menu="matMenu">
      <a mat-menu-item [routerLink]="['/']">
         <mat-icon>home</mat-icon>
         <span>Home</span>
      </a>
      <a mat-menu-item [routerLink]="['movies']">
         <mat-icon>movies</mat-icon>
         <span>Filmes</span>
      </a>
      <a mat-menu-item [routerLink]="['starships']">
         <mat-icon>rocket_launch</mat-icon>
         <span>Naves</span>
      </a>
   </mat-menu>
</div>