<h1>Todos os Filmes</h1>

<!-- <div *ngIf="$moviesFake | async as movies; else notFound">
   <div *ngFor="let movie of movies">
      <p [textContent]="movie.title"></p>
   </div>
</div>
<ng-template #notFound>
   <p>Nenhum filme encontrado :(</p>
</ng-template> -->

<mat-table [dataSource]="movies" class="mat-elevation-z8" *ngIf="movies?.length">
   <ng-container matColumnDef="episode_id">
      <mat-header-cell *matHeaderCellDef> Episódio </mat-header-cell>
      <mat-cell *matCellDef="let movie"> {{movie.episode_id}} </mat-cell>
   </ng-container>
   <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Título </mat-header-cell>
      <mat-cell *matCellDef="let movie"> {{movie.title}} </mat-cell>
   </ng-container>
   <ng-container matColumnDef="release_date">
      <mat-header-cell *matHeaderCellDef> Lançamento </mat-header-cell>
      <mat-cell *matCellDef="let movie"> {{movie.release_date}} </mat-cell>
   </ng-container>

   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<app-loading [spinning]="!movies.length"></app-loading>