<h1>Todas as naves de Star Wars</h1>

<mat-form-field appearance="outline">
   <mat-label>Buscar naves em Star Wars</mat-label>
   <input type="search" matInput placeholder="Ex: Falcon, Death Star, Corvette ..." [formControl]="starshipInputSearch">
   <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<div class="starships" *ngIf="starships?.length">
   <mat-table [dataSource]="starships" class="mat-elevation-z8" multiTemplateDataRows *ngIf="starships?.length">
      <ng-container matColumnDef="name">
         <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
         <mat-cell *matCellDef="let starship"> {{starship.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="model">
         <mat-header-cell *matHeaderCellDef> Modelo </mat-header-cell>
         <mat-cell *matCellDef="let starship"> {{starship.model}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="starship_class">
         <mat-header-cell *matHeaderCellDef> Classe </mat-header-cell>
         <mat-cell *matCellDef="let starship"> {{starship.starship_class}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="expand">
         <mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</mat-header-cell>
         <mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
            </button>
         </mat-cell>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
         <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="starship-detail-element"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
               
               manufacturer: {{element.manufacturer}} <br>
               cargo_capacity: {{element.cargo_capacity}} <br>
               crew: {{element.crew}} <br>
               hyperdrive_rating: {{element.hyperdrive_rating}} <br>
               length: {{element.length}} <br>
               max_atmosphering_speed: {{element.max_atmosphering_speed}} <br>
               passengers: {{element.passengers}}
            </div>
         </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row 
         *matRowDef="let row; columns: displayedColumns;" 
         class="element-row" 
         [class.expanded-row]="expandedElement === row" 
         (click)="expandedElement = expandedElement === row ? null : row">
      </mat-row>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="starship-detail"></tr>
   </mat-table>

   <mat-paginator 
      (page)="handlePageChange($event)"
      [length]="starshipsCount"
      [pageSize]="starshipsDisplayItemsPerPage"
      [pageIndex]="starshipsPageIndexStart"
      aria-label="Select page">
   </mat-paginator>
</div>

<app-loading [spinning]="!starships.length"></app-loading>