<h1>Todas as naves de Star Wars</h1>

<mat-form-field appearance="outline">
   <mat-label>Buscar naves em Star Wars</mat-label>
   <input type="search" matInput placeholder="Ex: Falcon, Death Star, Corvette ..." [formControl]="starshipInputSearch">
   <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<div class="starships" *ngIf="starships?.length">
   <mat-table [dataSource]="starships" class="mat-elevation-z8" *ngIf="starships?.length">
      <ng-container matColumnDef="name">
         <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
         <mat-cell *matCellDef="let starship"> {{starship.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="model">
         <mat-header-cell *matHeaderCellDef> Modelo </mat-header-cell>
         <mat-cell *matCellDef="let starship"> {{starship.model}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="manufacturer">
         <mat-header-cell *matHeaderCellDef> Fabricante </mat-header-cell>
         <mat-cell *matCellDef="let starship"> {{starship.manufacturer}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   </mat-table>

   <mat-paginator [length]="starshipsCount"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page">
   </mat-paginator>
</div>

<app-loading [spinning]="!starships.length"></app-loading>